<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div style="display:inline-grid">
        <li><a href="/internal/reviews">Google Maps Reviews</a></li>
        <li><a href="https://drive.google.com/drive/folders/11jt-rAKlvyiwAmkAnnZ9L4z6zEfVP0PI?usp=drive_link" target="_blank">Marketing Materials</a></li>
    <div>
</body>
</html>

